* {
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Goudy Bookletter 1911", serif;
    font-size: 24px;
/*Pattern*/
  --s: 79px; /* control the size*/
  --c1: #feffc2;
  --c2: #ffa552;

  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c1);
/*fin del pattern*/
}

header {
	padding-right: 7%;
	padding-left: 7%;
    padding-bottom: 1%;
	justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #ffa552;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header, footer {
    background-color: #fff;
    align-items: center;
    display: flex;
    width: 90%;
    margin: auto;
}

section {
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

}

.logo {
    width: 200px;
    padding-top: 5%;
    height: auto;
}

ul {
    list-style-type: none;
}

ul li a:hover {
	font-weight: 800;
    transition: 0.4s;
}

nav ul {
	margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    flex: 1;
    text-align: center;
    white-space: normal;
}

nav ul li a {
	font-size: 1.2rem;
	padding-right: 1rem;
	text-transform: uppercase;
    word-wrap: break-word;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: 0.6s;
}
/*------------------------------------*/
/*Desplegable*/

nav ul li ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#feffc2;
    padding:0;
    margin: 0;
}
   /* items del menu desplegable */
   
nav ul ul li {
    float:none;
    width:150px
}
   
   /* enlaces de los items del menu desplegable */
   
nav ul ul a {
    line-height:120%;
    padding:10px 15px;
}
   
   /* items del menu desplegable al pasar el ratón */
   
nav ul li:hover ul,
nav ul li ul:hover {
    display:block;
}
/*------------------------------------*/

a {
	text-decoration: none;
	color: #000000;
}

article {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.portada {
    padding-bottom: 60px;
}
.portadaimg {
    margin-right: 20px;
    width: 40%;
    height: auto;
    float: left;
}

.elementos {
    background-color: #fff;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.alterna {
    width: 80%;
    box-sizing: border-box;
}

.alterna:nth-child(odd) {
    align-self: flex-start;
    text-align: left;
}

.alterna:nth-child(even) {
    align-self: flex-end;
    text-align: right;
}

.temporadas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.temporadas div {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.temporadas img {
    width: 150px;
    height: auto;
}

h2 {
    font-variant: small-caps;
    padding: 10px;
}

h4 {
	font-size: 1.5rem;
	font-variant: small-caps;
}

p {
    margin-bottom: 30px;
}

footer {
    flex-direction: column;
    padding: 20px;
    border-top-width: medium;
    border-top-style: solid;
    border-top-color: #ffa552;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer div:first-child {
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer img {
  width: 40px;
  height: auto;
}

.licencia {
  display: flex;
  align-items: center; /* Alinea el texto y la imagen verticalmente */
  margin-top: 20px;
}

.licencia img {
  margin-left: 10px;
  margin-top: -15px;
  width: 120px; /* Tamaño de la imagen de licencia */
  vertical-align: middle; /* Alinea la imagen con el texto */
}








